<div class="navbar-inner" data-ng-controller="HeaderController">
    <ul class="nav">
        <li>
            <a class="brand" ui-sref="home">Cortex</a>
        </li>
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
    </ul>
    <ul class="nav pull-right" data-ng-hide="global.authenticated">
        <li><a ui-sref="SignUp">Signup</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a ui-sref="SignIn">Signin</a>
        </li>
    </ul>
    <ul class="nav pull-right" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
				{{global.user.name}} <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a ng-click="SignOut()">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>