<div ng-include="'../views/users/auth.html'"></div>
<div ng-controller="signUp">
    <form ng-submit="signUp(user)"  class="signup form-horizontal">
        <div class="control-group">
            <label for="name" class="control-label">Full name</label>
            <div class="controls">
                <input id="name" type="text" name="name" placeholder="Full name" ng-model="user.name" required>
            </div>
        </div>
        <div class="control-group">
            <label for="email" class="control-label">Email</label>
            <div class="controls">
                <input id="email" type="email" name="email" placeholder="Email" ng-model="user.email" required>
            </div>
        </div>
        <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
                <input id="username" type="text" name="username" placeholder="Username" ng-model="user.username" required>
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
                <input id="password" type="password" name="password" placeholder="Password" ng-model="user.password" required>
            </div>
        </div>
        <div class="control-group">
            <label for="phone" class="control-label">Phone</label>
            <div class="controls">
                <input id="phone" type="tel" name="phone" placeholder="Phone" ng-model="user.phone" required>
            </div>
        </div>
        <div class="control-group">
            <label for="type" class="control-label">Type</label>
            <div class="controls">
                <select ng-model="user.type" ng-change="changedValue(user.type)">
                    <option value="administrator">administrator</option>
                    <option value="moderator">moderator</option>
                    <option value="reporter">reporter</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="status" class="control-label">Status</label>
            <div class="controls">
                <input type="checkbox" ng-model="user.status" name="status">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sign up&nbsp;</button>or&nbsp;<a ui-sref="SignIn" class="show-login">login</a>
        </div>
    </form>
</div>